{
  "id": "559a65bcd69b5a561b8b4571",
  "token": "i8MovT7uReOC8fDcOTejOGPQ6ZXi6cFa2Qof2tejivw",
  "name": "API Auto Test Agency",
  "subdomain": "api-test",
  "description": "Ни для кого не станет секретом тот факт, что львиная доля продаж квартир и домов приходится на всевозможные объявления в Интернете. Каждому хочется стать владельцем собственной жилплощади, и сделать это безопасно, быстро, а главное - выгодно! Ну что ж, теперь купить квартиру в Черкассах стало намного проще - ведь с вами верный и надежный помощник - Агенство недвижимости API Auto Test Agency",
  "firstName": "API Auto Test",
  "lastName": "Agency",
  "email": "api.agency@test.com",
  "userType": "agency",
  "offices": [
    {
      "id": "559a65bbd69b5a561b8b4567",
      "officeName": "API Office",
      "officeNumbers": "АПИ Офис 1",
      "phones": [
        {
          "id": "559a65bbd69b5a561b8b4568",
          "phone": "+380671112233"
        },
        {
          "id": "559a65bbd69b5a561b8b4569",
          "phone": "+380931234567"
        },
        {
          "id": "559a65bbd69b5a561b8b456a",
          "phone": "+380501113322"
        }
      ],
      "region": {
        "id": "559a647dd69b5a4a118b4593",
        "name": "Черкасская область"
      },
      "city": {
        "id": "559a647dd69b5a4a118b4595",
        "name": "Черкассы",
        "latinName": "cherkassy"
      },
      "address": "г. Черкассы, ул. Шевченка, 150",
      "coordinates": {
        "longitude": 32.0491,
        "latitude": 49.4493
      }
    },
    {
      "id": "559a65bbd69b5a561b8b456b",
      "officeName": "API Office 2",
      "officeNumbers": "АПИ Офис 2",
      "phones": [
        {
          "id": "559a65bbd69b5a561b8b456c",
          "phone": "+380671472583"
        },
        {
          "id": "559a65bbd69b5a561b8b456d",
          "phone": "+380939876543"
        },
        {
          "id": "559a65bbd69b5a561b8b456e",
          "phone": "+380501122334"
        }
      ],
      "region": {
        "id": "559a647dd69b5a4a118b4593",
        "name": "Черкасская область"
      },
      "city": {
        "id": "559a647dd69b5a4a118b4595",
        "name": "Черкассы",
        "latinName": "cherkassy"
      },
      "address": "г. Черкассы, ул. Крещатик, 200",
      "coordinates": {
        "longitude": 32.065,
        "latitude": 49.4428
      }
    }
  ],
  "schedule": [
    {
      "id": "559a65bbd69b5a561b8b456f",
      "dayOfWeek": "1-5",
      "startTime": "9:00",
      "endTime": "18:00"
    },
    {
      "id": "559a65bbd69b5a561b8b4570",
      "dayOfWeek": "6",
      "startTime": "10:00",
      "endTime": "14:00"
    }
  ],
  "socialAccounts": [
    "http://vk.com/api",
    "http://facebook.com/api",
    "http://plus.google.com/api",
    "ok.ru/api",
    "twitter.com/api"
  ],
  "services": [],
  "certificates": []
}
