{
  "first_name": "Test",
  "last_name": "User",
  "email": "api.test@flurred.com",
  "password": "api123",
  "phones":[
    {
      "phone":"+380671112233"
    },
    {
      "phone":"+380935556677"
    },
    {
      "phone":"+380924448899"
    }
  ]
}
