{
  "id": "559f73c9d69b5a4e1f8b456a",
  "thumbnails": [
    {
      "id": "559f73c9d69b5a4e1f8b4567",
      "path": "/uploads/thumbnail/adv_thumb_big/14/36/51/32/24/1436513224.89611436513224.jpeg",
      "extension": ".jpeg",
      "width": 588,
      "mimeType": "image/jpeg",
      "height": 390,
      "processor": "adv_thumb_big"
    },
    {
      "id": "559f73c9d69b5a4e1f8b4568",
      "path": "/uploads/thumbnail/adv_thumb_medium/14/36/51/32/25/1436513225.18161436513225.jpeg",
      "extension": ".jpeg",
      "width": 268,
      "mimeType": "image/jpeg",
      "height": 174,
      "processor": "adv_thumb_medium"
    },
    {
      "id": "559f73c9d69b5a4e1f8b4569",
      "path": "/uploads/thumbnail/adv_thumb_small/14/36/51/32/25/1436513225.46651436513225.jpeg",
      "extension": ".jpeg",
      "width": 161,
      "mimeType": "image/jpeg",
      "height": 104,
      "processor": "adv_thumb_small"
    }
  ]
}
