{
  "id": "559a6a4dd69b5a3e298b4567",
  "operationType": {
    "id": "559a647ed69b5a4a118b4684",
    "name": "Аренда",
    "type": "rent"
  },
  "period": {
    "id": "559a647ed69b5a4a118b468e",
    "name": "За месяц"
  },
  "description": "Rent Commercial property. Please feel free to call or e-mail me from 10am till 6pm",
  "user": {
    "id": "559a65bcd69b5a561b8b4571",
    "name": "API Auto Test Agency",
    "firstName": "API Auto Test",
    "lastName": "Agency",
    "email": "api.agency@test.com",
    "phones": [],
    "userType": "agency"
  },
  "images": [],
  "price": 5000,
  "convertedPrice": 217.39130434783,
  "auction": false,
  "currency": {
    "id": "559a647ed69b5a4a118b468c",
    "name": "UAH"
  },
  "convertedCurrency": {
    "id": "559a647ed69b5a4a118b468b",
    "name": "USD"
  },
  "availableFrom": "2015-05-14T14:45:17+0300",
  "additionally": [
    {
      "id": "559a647dd69b5a4a118b4584",
      "name": "Отдельный вход"
    }
  ],
  "ownerName": "Frisby autotest API",
  "ownerContacts": "+380674445566",
  "realty": {
    "id": "559a6625d69b5ab41c8b4568",
    "category": {
      "id": "559a647ed69b5a4a118b4674",
      "name": "Коммерческая недвижимость",
      "type": "commercial"
    },
    "categoryType": {
      "id": "559a647ed69b5a4a118b467d",
      "name": "Офисное помещение"
    },
    "address": {
      "region": {
        "id": "559a647dd69b5a4a118b4593",
        "name": "Черкасская область"
      },
      "city": {
        "id": "559a647dd69b5a4a118b4595",
        "name": "Черкассы",
        "latinName": "cherkassy"
      },
      "district": {
        "id": "559a647dd69b5a4a118b4599",
        "name": "Казбет"
      },
      "street": {
        "id": "559a647dd69b5a4a118b45a9",
        "name": "Чехова"
      },
      "houseNumber": {
        "id": "559a6625d69b5ab41c8b4567",
        "number": 27
      }
    },
    "user": {
      "id": "559a65bcd69b5a561b8b4571",
      "name": "API Auto Test Agency",
      "firstName": "API Auto Test",
      "lastName": "Agency",
      "email": "api.agency@test.com",
      "phones": [],
      "userType": "agency"
    },
    "area": 50,
    "areaUnit": {
      "id": "559a647ed69b5a4a118b4686",
      "name": "Кв. метры"
    },
    "effectiveArea": 40,
    "wallMaterial": {
      "id": "559a647ed69b5a4a118b4668",
      "name": "Дерево и кирпич"
    },
    "roomCount": 2,
    "floor": 7,
    "floorNumber": 9,
    "buildYear": 1996,
    "wc": {
      "id": "559a647ed69b5a4a118b466e",
      "name": "Раздельный"
    },
    "heating": {
      "id": "559a647dd69b5a4a118b464b",
      "name": "Автономная котельная"
    },
    "waterHeating": {
      "id": "559a647ed69b5a4a118b466d",
      "name": "Комбинированный"
    },
    "communication": [
      {
        "id": "559a647dd69b5a4a118b463e",
        "name": "Центральная канализация"
      }
    ]
  },
  "status": 0
}
