{
  "id": "559a6a2cd69b5a77288b4567",
  "operationType": {
    "id": "559a647ed69b5a4a118b4684",
    "name": "Аренда",
    "type": "rent"
  },
  "period": {
    "id": "559a647ed69b5a4a118b468e",
    "name": "За месяц"
  },
  "description": "Rent House. Please feel free to call or e-mail me from 10am till 6pm",
  "user": {
    "id": "559a65bcd69b5a561b8b4571",
    "name": "API Auto Test Agency",
    "firstName": "API Auto Test",
    "lastName": "Agency",
    "email": "api.agency@test.com",
    "phones": [],
    "userType": "agency"
  },
  "images": [],
  "price": 4500,
  "convertedPrice": 195.65217391304,
  "auction": false,
  "currency": {
    "id": "559a647ed69b5a4a118b468c",
    "name": "UAH"
  },
  "convertedCurrency": {
    "id": "559a647ed69b5a4a118b468b",
    "name": "USD"
  },
  "availableFrom": "2015-05-14T14:44:44+0300",
  "repair": {
    "id": "559a647ed69b5a4a118b4656",
    "name": "Косметический"
  },
  "furniture": [
    {
      "id": "559a647dd69b5a4a118b4646",
      "name": "Сейф"
    }
  ],
  "appliances": [
    {
      "id": "559a647dd69b5a4a118b4586",
      "name": "Кондиционер"
    }
  ],
  "additionally": [
    {
      "id": "559a647dd69b5a4a118b4577",
      "name": "Участок правильной формы"
    }
  ],
  "ownerName": "Frisby autotest API",
  "ownerContacts": "+380674445566",
  "realty": {
    "id": "559a6611d69b5a4f1c8b4568",
    "category": {
      "id": "559a647ed69b5a4a118b4672",
      "name": "Дома и дачи",
      "type": "house"
    },
    "categoryType": {
      "id": "559a647ed69b5a4a118b4677",
      "name": "Дом"
    },
    "address": {
      "region": {
        "id": "559a647dd69b5a4a118b4593",
        "name": "Черкасская область"
      },
      "city": {
        "id": "559a647dd69b5a4a118b4595",
        "name": "Черкассы",
        "latinName": "cherkassy"
      },
      "district": {
        "id": "559a647dd69b5a4a118b4599",
        "name": "Казбет"
      },
      "street": {
        "id": "559a647dd69b5a4a118b45a9",
        "name": "Чехова"
      },
      "houseNumber": {
        "id": "559a6611d69b5a4f1c8b4567",
        "number": 65
      }
    },
    "user": {
      "id": "559a65bcd69b5a561b8b4571",
      "name": "API Auto Test Agency",
      "firstName": "API Auto Test",
      "lastName": "Agency",
      "email": "api.agency@test.com",
      "phones": [],
      "userType": "agency"
    },
    "livingArea": 80,
    "kitchenArea": 10,
    "area": 100,
    "areaUnit": {
      "id": "559a647ed69b5a4a118b4686",
      "name": "Кв. метры"
    },
    "landArea": 3,
    "landAreaUnit": {
      "id": "559a647ed69b5a4a118b4687",
      "name": "Сотки"
    },
    "roomCount": 5,
    "wallMaterial": {
      "id": "559a647ed69b5a4a118b4668",
      "name": "Дерево и кирпич"
    },
    "floorNumber": 4,
    "buildYear": 1999,
    "heating": {
      "id": "559a647dd69b5a4a118b464b",
      "name": "Автономная котельная"
    },
    "waterHeating": {
      "id": "559a647ed69b5a4a118b466d",
      "name": "Комбинированный"
    },
    "communication": [
      {
        "id": "559a647dd69b5a4a118b463e",
        "name": "Центральная канализация"
      }
    ],
    "nearObjects": [
      {
        "id": "559a647dd69b5a4a118b464c",
        "name": "Остановка общественного транспорта"
      }
    ]
  },
  "status": 0
}
