{
  "id": "559411703755dfd04f8b456a",
  "category": {
    "id": "5593f0353755df49328b4674",
    "name": "Коммерческая недвижимость",
    "type": "commercial"
  },
  "categoryType": {
    "id": "5593f0353755df49328b467d",
    "name": "Офисное помещение"
  },
  "address": {
    "region": {
      "id": "5593f0343755df49328b4593",
      "name": "Черкасская область"
    },
    "city": {
      "id": "5593f0343755df49328b4595",
      "name": "Черкассы",
      "latinName": "cherkassy"
    },
    "district": {
      "id": "5593f0343755df49328b4599",
      "name": "Казбет"
    },
    "street": {
      "id": "5593f0343755df49328b45a9",
      "name": "Чехова"
    },
    "houseNumber": {
      "id": "559411703755dfd04f8b4569",
      "number": 27
    }
  },
  "user": {
    "id": "5594097b3755dfeb4f8b456a",
    "firstName": "Test",
    "lastName": "User",
    "email": "api.test@gmail.com",
    "phones": [
      {
        "id": "5594097a3755dfeb4f8b4567",
        "phone": "+380671112233"
      },
      {
        "id": "5594097a3755dfeb4f8b4568",
        "phone": "+380935556677"
      },
      {
        "id": "5594097a3755dfeb4f8b4569",
        "phone": "+380924448899"
      }
    ],
    "userType": "private person"
  },
  "area": 50,
  "areaUnit": {
    "id": "5593f0353755df49328b4686",
    "name": "Кв. метры"
  },
  "effectiveArea": 40,
  "wallMaterial": {
    "id": "5593f0353755df49328b4668",
    "name": "Дерево и кирпич"
  },
  "roomCount": 2,
  "floor": 7,
  "floorNumber": 9,
  "buildYear": 1996,
  "wc": {
    "id": "5593f0353755df49328b466e",
    "name": "Раздельный"
  },
  "heating": {
    "id": "5593f0353755df49328b464b",
    "name": "Автономная котельная"
  },
  "waterHeating": {
    "id": "5593f0353755df49328b466d",
    "name": "Комбинированный"
  },
  "communication": [
    {
      "id": "5593f0353755df49328b463e",
      "name": "Центральная канализация"
    }
  ]
}
