[
  {
    "id": "558d4e12d69b5a5a758b4584",
    "name": "Отдельный вход"
  },
  {
    "id": "558d4e12d69b5a5a758b4578",
    "name": "Отдельный заезд"
  },
  {
    "id": "558d4e12d69b5a5a758b4567",
    "name": "Лифт"
  },
  {
    "id": "558d4e12d69b5a5a758b4585",
    "name": "Торговое оборудование"
  },
  {
    "id": "558d4e12d69b5a5a758b4571",
    "name": "Счетчик на газ"
  },
  {
    "id": "558d4e12d69b5a5a758b4572",
    "name": "Счетчик на воду"
  },
  {
    "id": "558d4e12d69b5a5a758b4573",
    "name": "Счетчики на отопление"
  },
  {
    "id": "558d4e12d69b5a5a758b4583",
    "name": "Территория охраняется"
  }
]
