[
  {
    "id": "558d4e12d69b5a5a758b4586",
    "name": "Кондиционер"
  },
  {
    "id": "558d4e12d69b5a5a758b4587",
    "name": "Холодильник"
  },
  {
    "id": "558d4e12d69b5a5a758b4588",
    "name": "Стиральная машина"
  },
  {
    "id": "558d4e12d69b5a5a758b4589",
    "name": "Телефизор(ы)"
  },
  {
    "id": "558d4e12d69b5a5a758b458a",
    "name": "Телефон"
  },
  {
    "id": "558d4e12d69b5a5a758b458b",
    "name": "Утюг и гладильная доска"
  },
  {
    "id": "558d4e12d69b5a5a758b458c",
    "name": "Фен"
  },
  {
    "id": "558d4e12d69b5a5a758b458d",
    "name": "Микроволновая печь"
  }
]
