[
  {
    "id": "558d445bd69b5a324a8b4686",
    "name": "Кв. метры"
  },
  {
    "id": "558d445bd69b5a324a8b4687",
    "name": "Сотки"
  },
  {
    "id": "558d445bd69b5a324a8b4688",
    "name": "Гектары"
  }
]
