[
  {
    "id": "558d4e12d69b5a5a758b4686",
    "name": "Кв. метры"
  },
  {
    "id": "558d4e12d69b5a5a758b4687",
    "name": "Сотки"
  },
  {
    "id": "558d4e12d69b5a5a758b4688",
    "name": "Гектары"
  }
]
