[
  {
    "id": "558d4e12d69b5a5a758b4677",
    "name": "Дом",
    "category": {
      "id": "558d4e12d69b5a5a758b4672",
      "name": "Дома и дачи",
      "type": "house"
    }
  },
  {
    "id": "558d4e12d69b5a5a758b4678",
    "name": "Часть дома",
    "category": {
      "id": "558d4e12d69b5a5a758b4672",
      "name": "Дома и дачи",
      "type": "house"
    }
  },
  {
    "id": "558d4e12d69b5a5a758b4679",
    "name": "Дача",
    "category": {
      "id": "558d4e12d69b5a5a758b4672",
      "name": "Дома и дачи",
      "type": "house"
    }
  }
]
