[
  {
    "id": "558d445bd69b5a324a8b4677",
    "name": "Дом",
    "category": {
      "id": "558d445ad69b5a324a8b4672",
      "name": "Дома и дачи",
      "type": "house"
    }
  },
  {
    "id": "558d445bd69b5a324a8b4678",
    "name": "Часть дома",
    "category": {
      "id": "558d445ad69b5a324a8b4672",
      "name": "Дома и дачи",
      "type": "house"
    }
  },
  {
    "id": "558d445bd69b5a324a8b4679",
    "name": "Дача",
    "category": {
      "id": "558d445ad69b5a324a8b4672",
      "name": "Дома и дачи",
      "type": "house"
    }
  }
]
