[
  {
    "id": "558d4e12d69b5a5a758b467d",
    "name": "Офисное помещение",
    "category": {
      "id": "558d4e12d69b5a5a758b4674",
      "name": "Коммерческая недвижимость",
      "type": "commercial"
    }
  },
  {
    "id": "558d4e12d69b5a5a758b467e",
    "name": "Торговые площади",
    "category": {
      "id": "558d4e12d69b5a5a758b4674",
      "name": "Коммерческая недвижимость",
      "type": "commercial"
    }
  },
  {
    "id": "558d4e12d69b5a5a758b467f",
    "name": "Складские помещения",
    "category": {
      "id": "558d4e12d69b5a5a758b4674",
      "name": "Коммерческая недвижимость",
      "type": "commercial"
    }
  },
  {
    "id": "558d4e12d69b5a5a758b4680",
    "name": "Кафе, бар, ресторан",
    "category": {
      "id": "558d4e12d69b5a5a758b4674",
      "name": "Коммерческая недвижимость",
      "type": "commercial"
    }
  },
  {
    "id": "558d4e12d69b5a5a758b4681",
    "name": "Объект сферы услуг",
    "category": {
      "id": "558d4e12d69b5a5a758b4674",
      "name": "Коммерческая недвижимость",
      "type": "commercial"
    }
  },
  {
    "id": "558d4e12d69b5a5a758b4682",
    "name": "Помещения свободного назначения",
    "category": {
      "id": "558d4e12d69b5a5a758b4674",
      "name": "Коммерческая недвижимость",
      "type": "commercial"
    }
  },
  {
    "id": "558d4e12d69b5a5a758b4683",
    "name": "Готовый бизнес",
    "category": {
      "id": "558d4e12d69b5a5a758b4674",
      "name": "Коммерческая недвижимость",
      "type": "commercial"
    }
  }
]
