[
  {
    "id": "558d4e12d69b5a5a758b4675",
    "name": "Квартира",
    "category": {
      "id": "558d4e12d69b5a5a758b4671",
      "name": "Квартиры и комнаты",
      "type": "flat"
    }
  },
  {
    "id": "558d4e12d69b5a5a758b4676",
    "name": "Комната",
    "category": {
      "id": "558d4e12d69b5a5a758b4671",
      "name": "Квартиры и комнаты",
      "type": "flat"
    }
  }
]
