[
  {
    "id": "558d4e12d69b5a5a758b4671",
    "name": "Квартиры и комнаты",
    "type": "flat"
  },
  {
    "id": "558d4e12d69b5a5a758b4672",
    "name": "Дома и дачи",
    "type": "house"
  },
  {
    "id": "558d4e12d69b5a5a758b4673",
    "name": "Земельные участки",
    "type": "parcel"
  },
  {
    "id": "558d4e12d69b5a5a758b4674",
    "name": "Коммерческая недвижимость",
    "type": "commercial"
  }
]
