[
  {
    "id": "558d445bd69b5a324a8b467a",
    "name": "Участок под жилую застройку",
    "category": {
      "id": "558d445ad69b5a324a8b4673",
      "name": "Земельные участки",
      "type": "parcel"
    }
  },
  {
    "id": "558d445bd69b5a324a8b467b",
    "name": "Земля коммерческого назначения",
    "category": {
      "id": "558d445ad69b5a324a8b4673",
      "name": "Земельные участки",
      "type": "parcel"
    }
  },
  {
    "id": "558d445bd69b5a324a8b467c",
    "name": "Земля сельскохозяйственного назначения",
    "category": {
      "id": "558d445ad69b5a324a8b4673",
      "name": "Земельные участки",
      "type": "parcel"
    }
  }
]
