[
  {
    "id": "558d445bd69b5a324a8b4675",
    "name": "Квартира",
    "category": {
      "id": "558d445ad69b5a324a8b4671",
      "name": "Квартиры и комнаты",
      "type": "flat"
    }
  },
  {
    "id": "558d445bd69b5a324a8b4676",
    "name": "Комната",
    "category": {
      "id": "558d445ad69b5a324a8b4671",
      "name": "Квартиры и комнаты",
      "type": "flat"
    }
  }
]
