[
  {
    "id": "558d4e12d69b5a5a758b467a",
    "name": "Участок под жилую застройку",
    "category": {
      "id": "558d4e12d69b5a5a758b4673",
      "name": "Земельные участки",
      "type": "parcel"
    }
  },
  {
    "id": "558d4e12d69b5a5a758b467b",
    "name": "Земля коммерческого назначения",
    "category": {
      "id": "558d4e12d69b5a5a758b4673",
      "name": "Земельные участки",
      "type": "parcel"
    }
  },
  {
    "id": "558d4e12d69b5a5a758b467c",
    "name": "Земля сельскохозяйственного назначения",
    "category": {
      "id": "558d4e12d69b5a5a758b4673",
      "name": "Земельные участки",
      "type": "parcel"
    }
  }
]
