[
  {
    "id": "558d445ad69b5a324a8b463f",
    "name": "Меблированная кухня"
  },
  {
    "id": "558d445ad69b5a324a8b4640",
    "name": "Кухонный уголок"
  },
  {
    "id": "558d445ad69b5a324a8b4641",
    "name": "Барная стойка"
  },
  {
    "id": "558d445ad69b5a324a8b4642",
    "name": "Диван / мягкий уголок"
  },
  {
    "id": "558d445ad69b5a324a8b4643",
    "name": "Кровать"
  },
  {
    "id": "558d445ad69b5a324a8b4644",
    "name": "Шкаф"
  },
  {
    "id": "558d445ad69b5a324a8b4645",
    "name": "Встроенный шкаф-гардероб"
  },
  {
    "id": "558d445ad69b5a324a8b4646",
    "name": "Сейф"
  }
]
