[
  {
    "id": "558d4e12d69b5a5a758b463f",
    "name": "Меблированная кухня"
  },
  {
    "id": "558d4e12d69b5a5a758b4640",
    "name": "Кухонный уголок"
  },
  {
    "id": "558d4e12d69b5a5a758b4641",
    "name": "Барная стойка"
  },
  {
    "id": "558d4e12d69b5a5a758b4642",
    "name": "Диван / мягкий уголок"
  },
  {
    "id": "558d4e12d69b5a5a758b4643",
    "name": "Кровать"
  },
  {
    "id": "558d4e12d69b5a5a758b4644",
    "name": "Шкаф"
  },
  {
    "id": "558d4e12d69b5a5a758b4645",
    "name": "Встроенный шкаф-гардероб"
  },
  {
    "id": "558d4e12d69b5a5a758b4646",
    "name": "Сейф"
  }
]
