[
  {
    "id": "558d445ad69b5a324a8b4647",
    "name": "Нет"
  },
  {
    "id": "558d445ad69b5a324a8b4648",
    "name": "Централизованное"
  },
  {
    "id": "558d445ad69b5a324a8b4649",
    "name": "Индивидуальное газовое"
  },
  {
    "id": "558d445ad69b5a324a8b464a",
    "name": "Индивидуальное електрическое"
  },
  {
    "id": "558d445ad69b5a324a8b464b",
    "name": "Автономная котельная"
  }
]
