[
  {
    "id": "558d4e12d69b5a5a758b4647",
    "name": "Нет"
  },
  {
    "id": "558d4e12d69b5a5a758b4648",
    "name": "Централизованное"
  },
  {
    "id": "558d4e12d69b5a5a758b4649",
    "name": "Индивидуальное газовое"
  },
  {
    "id": "558d4e12d69b5a5a758b464a",
    "name": "Индивидуальное електрическое"
  },
  {
    "id": "558d4e12d69b5a5a758b464b",
    "name": "Автономная котельная"
  }
]
