[
  {
    "id": "558d445ad69b5a324a8b464c",
    "name": "Остановка общественного транспорта"
  },
  {
    "id": "558d445ad69b5a324a8b464d",
    "name": "Детские сады и ясли"
  },
  {
    "id": "558d445ad69b5a324a8b464e",
    "name": "Школы, лицеи, гимназии"
  },
  {
    "id": "558d445ad69b5a324a8b464f",
    "name": "Парки отдыха, сады"
  },
  {
    "id": "558d445ad69b5a324a8b4650",
    "name": "Спортивно-развлекательные центры"
  },
  {
    "id": "558d445ad69b5a324a8b4651",
    "name": "Магазины, торговые центры"
  },
  {
    "id": "558d445ad69b5a324a8b4652",
    "name": "Кафе и рестораны"
  },
  {
    "id": "558d445ad69b5a324a8b4653",
    "name": "Развлекательные заведения"
  },
  {
    "id": "558d445ad69b5a324a8b4654",
    "name": "Речка, озеро"
  },
  {
    "id": "558d445ad69b5a324a8b4655",
    "name": "Лес"
  }
]
