[
  {
    "id": "559519043755df72678b4690",
    "name": "Сделка завершена",
    "type": "dealFinished"
  },
  {
    "id": "559519043755df72678b4691",
    "name": "Иная причина",
    "type": "otherReason"
  }
]
