[
  {
    "id": "558d4e12d69b5a5a758b465e",
    "name": "Кирпич"
  },
  {
    "id": "558d4e12d69b5a5a758b465f",
    "name": "Панель"
  },
  {
    "id": "558d4e12d69b5a5a758b4660",
    "name": "Монолит"
  },
  {
    "id": "558d4e12d69b5a5a758b4661",
    "name": "Пеноблок"
  },
  {
    "id": "558d4e12d69b5a5a758b4662",
    "name": "Поротерм (кератерм)"
  },
  {
    "id": "558d4e12d69b5a5a758b4663",
    "name": "Силикатный кирпич"
  },
  {
    "id": "558d4e12d69b5a5a758b4664",
    "name": "Монолитно-кирпичный"
  },
  {
    "id": "558d4e12d69b5a5a758b4665",
    "name": "Монолитно-блочный"
  },
  {
    "id": "558d4e12d69b5a5a758b4666",
    "name": "Газобетон"
  },
  {
    "id": "558d4e12d69b5a5a758b4667",
    "name": "Ракушечник"
  },
  {
    "id": "558d4e12d69b5a5a758b4668",
    "name": "Дерево и кирпич"
  }
]
