[
  {
    "id": "558d4e12d69b5a5a758b4669",
    "name": "Нет"
  },
  {
    "id": "558d4e12d69b5a5a758b466a",
    "name": "Централизованный"
  },
  {
    "id": "558d4e12d69b5a5a758b466b",
    "name": "Бойлер"
  },
  {
    "id": "558d4e12d69b5a5a758b466c",
    "name": "Газовая колонка"
  },
  {
    "id": "558d4e12d69b5a5a758b466d",
    "name": "Комбинированный"
  }
]
