[
  {
    "id": "558d445ad69b5a324a8b4669",
    "name": "Нет"
  },
  {
    "id": "558d445ad69b5a324a8b466a",
    "name": "Централизованный"
  },
  {
    "id": "558d445ad69b5a324a8b466b",
    "name": "Бойлер"
  },
  {
    "id": "558d445ad69b5a324a8b466c",
    "name": "Газовая колонка"
  },
  {
    "id": "558d445ad69b5a324a8b466d",
    "name": "Комбинированный"
  }
]
