[
  {
    "id": "558d445ad69b5a324a8b466e",
    "name": "Раздельный"
  },
  {
    "id": "558d445ad69b5a324a8b466f",
    "name": "Совмещенный"
  },
  {
    "id": "558d445ad69b5a324a8b4670",
    "name": "Несколько санузлов"
  }
]
